.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.maincontent{
  position: fixed; 
  top: 100px; /*Set top value to HeightOfTopFrameDiv*/
  margin-left:auto;
      margin-right: auto;
  bottom: 110px; /*Set bottom value to HeightOfBottomFrameDiv*/
  overflow: auto; 
  background: #fff;
      width: 800px;
  }
  
  .innertube{
  margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
  }
.optionbox{
  background-color: bisque;
  width: 200px;
  height: 30px;
}  

.selectbox{
  width: 100px;
  border-radius: 2px solid black;
  height: auto;
  border-bottom: 2px solid black;
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 160px; 
  height: 1.3em; 
  white-space: nowrap;
  border-right: 1px solid;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-top: 2px solid;
}